* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: orange;
    padding: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: #333;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
}

#row {
    display: flex;
}

aside {
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

main {
    width: 70%;
    padding: 20px;
}

.imagem-real {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    object-fit: cover;
    cursor: pointer;
}


